body, html {
    font-size: 15px;
    font-family: "Helvetica", "Verdana", "Arial", sans-serif;
	text-align: justify;
	margin: 0rem;
}
h1 {
	font-size: 1.3rem;
}
.box {
	display: inline-block;
	background-color: chartreuse;
	border-radius: 0.5rem;
	line-height: 1.2rem;
	padding: 0.5rem;

	font-size: 1rem;
	font-weight: normal;
}
.box p {
	margin: 0.7rem;
	text-align: center;
}
input[type=text], input[type=password] {
	/* text-transform: uppercase; */
	padding: 0.33rem;
	width: 10rem;
	height: 1rem;

	font-size: 1rem;
}
input[type=button], input[type=submit], input[type=reset], button[type="submit"] {
	/* text-transform: uppercase; */
	padding: 0.33rem;

	color: black;
	font-size: 1rem;
	font-weight: normal;
}
.pre {
	font-family: monospace;
}

select {
	font-size: 1rem;
}
ul {
	list-style-type: none;
	padding: 0;
}
a {
	text-decoration: none;
}
a, a:visited {
	color: dodgerblue;
}
a:hover {
	text-decoration: underline;
}
#error {
	color: red;
	font-weight: bold;
}
#fb {
	display: flex;
	flex-direction: column;
	
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#fb > * {
	flex: none;
}
#signin {
	font-size: 1rem;
}